header
{
    background-color: #f8f8ff;
    color: #0071c5;
    text-align: center;
    font-size: 16px;
}

.card-header {
    height: 50px; 
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0;
    text-decoration: #0071c5;
    border: none;
}

.nav-link {
    padding: 0 15px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.nav-image
{
    width: 100%;
    height: auto;
    display: block;
    max-height: 50px;
    border: none;
}

body
{
    margin: 0;
}
